RestApi-main/BaseRest.DataAccess/obj/
RestApi-main/BaseRest.Model/bin/
RestApi-main/BaseRest.Model/obj/
RestApi-main/BaseRest/bin/
RestApi-main/BaseRest/obj/
RestApi-main/BaseRest.Business/bin/
RestApi-main/BaseRest.Business/obj/
RestApi-main/BaseRest.DataAccess/bin/
