<div class="top-row pl-4 navbar navbar-dark">
    <i class="fa-solid fa-kiwi-bird" style="color: #ffffff;"></i>
    <a class="navbar-brand" href="">BaseUI</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3 my-auto">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house"></i> Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3 my-auto">
            <NavLink class="nav-link" href="ClientCRUD/2">
                <i class="fa-solid fa-user-plus"></i>  Alta de Clientes
            </NavLink>
        </li>
        <li class="nav-item px-3 my-auto">
            <NavLink class="nav-link" href="ClientList">
                <i class="fa-solid fa-list"></i> Lista de Clientes
            </NavLink>
        </li>
    </ul>
</div>

<style>
    .fa-solid{
        margin-right: 0.5rem !important;
    }
</style>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
